# Visual Studio
.vs/
Scoreboard/.vs/

# Build output
bin/
obj/
Scoreboard/bin/
Scoreboard/obj/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs & cache
*.log
*.cache
*.pdb
*.tmp
*.bak
